// messages start

.messages{
    position: relative;
    margin-bottom: 80px;

    &__title{
        @include fontAll(30px,700,$link);
        line-height: 120%;
        text-transform: uppercase;
    }

    &__text{
        @include fontAll(18px,500,$link);
        line-height: 30px;
        margin-top: 30px;
    }
}

// messages end


@media (max-width:1000px){
    .messages__title {
        font-size: 26px;
    }

    .messages__text {
        font-size: 16px;
        margin-top: 20px;
    }
}


@media (max-width:700px){
    .messages__title {
        font-size: 24px;
    }

    .messages__text {
        margin-top: 10px;
    }
}

@media (max-width:500px){
    .messages__title {
        font-size: 22px;
    }
}

@media (max-width:400px){
    .messages__title {
        font-size: 20px;
    }
}