// messages start

.messages{
    position: relative;
    margin-bottom: 80px;

    &__title{
        @include fontAll(1.875rem,700,$link);
        line-height: 120%;
        text-transform: uppercase;
    }

    &__text{
        @include fontAll(1.125rem,500,$link);
        line-height: 30px;
        margin-top: 30px;
    }
}

// messages end


@media (max-width:1000px){
    .messages__title {
        font-size: 1.625rem;
    }

    .messages__text {
        font-size: 1rem;
        margin-top: 20px;
    }
}


@media (max-width:700px){
    .messages__title {
        font-size: 1.5rem;
    }

    .messages__text {
        margin-top: 10px;
    }
}

@media (max-width:500px){
    .messages__title {
        font-size: 1.375rem;
    }
}

@media (max-width:400px){
    .messages__title {
        font-size: 1.25rem;
    }
}