// results start

.results{
    position: relative;
    margin-bottom: 80px;

    &__item__menu{
        margin-top: 15px;
        li{
            line-height: 50px;
        }
    }

    &__link__menu{
        @include fontAll(1.25rem,600,$link);
        line-height: 120%;
    }
}

.results__item + .results__item{
    border-top:1px solid #D5D5D5;
    padding-top: 40px;
    width: 100%;
    margin-top: 50px;
}

// results end


@media (max-width:1000px){
    .results__link__menu {
        font-size: 1.125rem;
    }
}


@media (max-width:700px){
    .results__link__menu {
        font-size: 1rem;
    }

    .results__item + .results__item{
        padding-top: 30px;
        margin-top: 30px;
    }

    .results__item__menu li {
        line-height: 35px;
    }
}


@media (max-width:700px){
    .results__link__menu {
        font-size: 0.875rem;
    }

    .results__item + .results__item{
        padding-top: 20px;
        margin-top: 20px;
    }
}