// gallre start

.gallre{
    position: relative;
    margin-bottom: 80px;

    

    &__list{
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-gap: 20px;
    }

    &__item{
        flex: 0 0 32%;
    }

    &__img{
        @include fiximg(360px,240px,true);
        position: relative;
        z-index: 0;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
    }

    &__title__h3{
        @include fontAll(18px,500,$text);
        line-height: 22px;
        text-transform: uppercase;
        text-align: center;
        padding: 0 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        width: 100%;
    }
}

// gallre end


@media (max-width:1200px){
    .gallre__img {
        width: 300px;
        height: 200px;
    }

    .gallre__title__h3 {
        font-size: 16px;
    }

    .gallre__item {
        flex: 0 0 30%;
    }
}


@media (max-width:1060px){
    .gallre__title__h3 {
        font-size: 14px;
    }

    .gallre__img {
        width: 260px;
        height: 160px;
    }
}


@media (max-width:940px){
    .gallre__img {
        width: 100%;
        height: 160px;
    }

    .gallre__item {
        flex: 0 0 31%;
    }
}


@media (max-width:700px){
    .gallre__item {
        flex: 0 0 47%;
    }
}

@media (max-width:500px){
    .gallre__title__h3 {
        font-size: 12px;
    }
}

@media (max-width:400px){
    .gallre__item {
        flex: 0 0 100%;
    }
}