// video start

.video{
    position: relative;
    margin-bottom: 80px;

    &__list{
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        grid-gap: 30px;
        height: 400px;
    }

    &__list__cart{
        position: relative;
        video{
            width: 700px;
            height: 400px;
            object-fit: contain;
            background-color:  rgba(0, 0, 0, 0.5);
        }
    }

    &__item{
        display: flex;
        align-items:center;
        grid-gap: 20px;

        video{
            width: 170px;
            height: 115px;
            object-fit: cover;
        }
    }

    &__list__item{
        overflow-x: overlay;
        width: 100%;
        height: 400px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
    }

    &__title__h3{
        @include fontAll(18px,600,$link);
        line-height: 22px;
    }

    &__list__title__h3{
        @include fontAll(18px,500,$text);
        text-transform: uppercase;
        line-height: 22px;
        position: absolute;
        bottom: 60px;
        left: 50%;
        width: 100%;
        text-align: center;
        transform:translate(-50%,0);
        -webkit-transform:translate(-50%,0);
        -moz-transform:translate(-50%,0);
        -ms-transform:translate(-50%,0);
        -o-transform:translate(-50%,0);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 20px;
    }
}

// video end 


.video__list__item::-webkit-scrollbar {
    width: 6px;
    height: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.video__list__item::-webkit-scrollbar-track {
    background: #D5D5D5;;
}

.video__list__item::-webkit-scrollbar-thumb {
    background: $blue;
    height: 10px;
    border-radius: 50px;
}


@media (max-width:1200px){
    .video__cart{
        flex: 0 0 60%;
    }

    .video__list__item{
        flex: 0 0 35%;
    }

    .video__list__cart video{
        width: 100%;
    }

    .video__title__h3,
    .video__list__title__h3{
        font-size: 16px;
    }
}


@media (max-width:1000px){
    .video__cart{
        flex: 0 0 100%;
        width: 100%;
    }

    .video__list__item{
        flex: auto;
        width: 100%;
        height: 400px;
    }

    .video__list{
        flex-direction: column;
        height: auto !important;
    }
}

@media (max-width:600px){
    .video__list__cart video {
        height: 350px;
    }
}


@media (max-width:450px){
    .video__list__cart video {
        height: 250px;
    }

    .video__list__item {
        flex: auto;
        width: 100%;
        height: 260px;
    }
}

@media (max-width:400px){
    .video__list__cart video {
        height: 200px;
    }

    .video__item video {
        width: 150px;
        height: 100px;
        object-fit: cover;
    }

    .video__list__item {
        height: 230px;
    }
}